
#title{
    font-size: 400%;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
body{
    background-color:lightgrey;
}

.introduce{
    text-align: center;
    color: sienna;
    margin-top: 500 ;
    margin: 50px auto;
  }

#picture{
    max-width: 100%;
    max-height: 100%;
    border: solid 5px rgb(43, 31, 3);
    margin-left: 45%;
  }

#image-div {
    background-color:blue;
  }

#img-caption{
    text-align: center;
}

nav{
    height: 20px;
    background-color:rgb(176, 162, 202);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

.in-nav{
    display:inline-block;
    margin-left: 30px;

}

.in-nav:hover{
    background-color: aquamarine;
    font-size:larger;
}

.in-nav a:active{
    color: red;
}
.in-nav a{
    color: dimgrey;
    text-decoration: none;
}

li{
    font-size:medium;
}

blockquote >p:first-child{
    text-align: center;
    font-style: italic;
    font-size: x-large;
    color: crimson;
}

blockquote >p:last-child{
    padding-left: 55%;
    font-style:oblique;
    font-size: large;
    color: crimson;
}
section h3:last-child{
    padding-left: 5%;
}